#ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:pink;
    position: absolute;
    top: 20px;
    left: 20px;
    }
.container{
    overflow: hidden;
    }
.container button{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 150px;
    font-size:30px;
    }

.hole, .correctHole, .visitHole{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -2;
    position: absolute;
    }
.correctHole{
    background: #17ad28;
    z-index: -1;    
    }
.hole{
    background: #000000;    
    }
.visitHole{
    background: #89be20;
    }
.highScoreList{
    float: right;
    list-style: none;
    font-size: 30px;
    }
